# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# User Defined
/Library/
/ProjectSettings
Assets/images
Assets/Prefabs
Assets/Animations
Assets/_Scenes
Assets/Sounds
Assets/AEgis_Technologies
Assets/Downloaded Assets
Assets/Editor
Assets/FreeCharacter
Assets/Standard Assets
Assets/START PACK
Assets/Zombie



# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
